    <table class="engineer-table engineer-table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Programing</th>
          <th>Date Of Birth</th>
          <th>
            <div class="add-engineer" (click)="registerEngineer()">
              <i class="material-icons">person_add</i>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let engineer of engineers"
          (click)="updateEngineer(engineer)">
        <td>{{engineer.firstName + " " + engineer.lastName}}</td>
        <td>{{engineer.programing}}</td>
        <td colspan="2">{{ exchangeDate(engineer.dateOfBirth)}}</td>
      </tr>
      </tbody>
    </table>
